<footer class="site-footer">
  <span class="site-footer-owner"><a href="{{ site.url }}">{{ site.title
      }}</a> is developped by <a href="./authors.html">{{ site.author.name }}</a>.</span>
</footer>


<footer class="site-footer">
  <span class="site-footer-owner"><a href="./README.html"> How to add to the
      page </a>.</span>
</footer>
