<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="./parsplice/index.html"
  class="btn">PARSPLICE</a>
  <a href="http://lammps.sandia.gov/"
  class="btn">LAMMPS</a>
  <a href="https://github.com/lanl/LATTE"
  class="btn">LATTE</a>
</section>
