<!DOCTYPE html>


<html lang="en-us">
  
  {% include head.html %}

  <body>

    
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
    {% include subpage-header.html %}

    <section class="main-content">
      
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
      {{ content }}

    </section>

  </body>
</html>
